*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Croissant One', cursive;
}

.encabezado{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #24272B;
    margin: 0;
    background: linear-gradient(#24272B, #4A525A);
    
}
.logo{
    margin: 0;
    width: 100px;
}

.logo:hover{
    transform:scale(2);
}

.login{
    width: 50px;
}

.menu{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
}

a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight:bold;
    color: #ecb315 !important;
}

a:hover{
    transform: scale(1.05);
    font-size: 27px;
    background: linear-gradient(white, #4A525A);
    text-shadow: 0px 3px 6px white;
    border-radius: 5px;
    padding: 10px;
    
}


.img:hover{
    background: linear-gradient(white, #4A525A);
    transform: scale(1);
    padding: 0;
}

.container-principal{
    height: 100vh;
    width: 100%;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 80%;
    height: 100%;
    
}

.carousel-inner {
    width: 100%;
    height: 100%;
  
}
.carousel-item{
    position: relative;
    width: 100%;
    height: 100%;
}

.card{
    position: absolute;
    top: 80px;
    left: 500px;
    width: 450px;
    height: 80% !important;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover{
    transform: scale(1.05);
    border: solid 2px;
    border-radius: 10px;
    background: linear-gradient(white, #ecb315);
}

.card-img-top{
    border: solid #4A525A;
    border-color: #4A525A;
    height: 60% !important;
}

.btn{
    background-color: #4A525A !important;
    border-color: #ecb315 !important;
    color: #ecb315 !important;
    font-size: 25px !important;
    font-weight: 500 !important;

}

.card-text{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.final{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#24272B, #4A525A);
}

.politicas{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.redes{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 20px;
}


@media (max-width: 480px){

    .login{
        width:30px;
    }
    
    .menu{
        width: 80%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 0;
    }
    
    a{
        font-size: 10px;
        color: white;
        text-decoration: none;
        font-weight:bold;
        color: #ecb315 !important;
    }

    .card{
        position: absolute;
        left: 30px;
        width: 250px;
        height: 80% !important;
    }

    .card-text{
        font-size: 9px;
        text-align: center;
    }

    .card-title{
        text-align: center;
        font-size: 18px;
    }

    .btn{
        font-size: 12px !important;
    }

    .final{
        width: 100%;
        display: flex;
        justify-content: space-between;
     }
 
     .politicas{
         margin-left: 10px;
         width: 65%;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
 
     }
 
     .text-politicas{
         font-size: 12px;
     }
     
     .redes{
         width: 30%;
         display: flex;
         justify-content: space-around;
         gap: 2px;
         margin: 0;
     }
 
     .img-foto{
         width: 20px;
     }
}

