*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Croissant One', cursive;
}

.encabezado{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #24272B;
    margin: 0;
    background: linear-gradient(#24272B, #4A525A);
    
}
.logo{
    margin: 0;
    width: 100px;
}

.logo:hover{
    transform:scale(2);
}

.login{
    width: 50px;
}

.menu{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
}

a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight:bold;
    color: #ecb315 !important;
}

a:hover{
    transform: scale(1.05);
    font-size: 27px;
    background: linear-gradient(white, #4A525A);
    text-shadow: 0px 3px 6px white;
    border-radius: 5px;
    padding: 10px;
    
}

h1 {
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight:bold;
    color: #ecb315 !important;
}

h1:hover{
    transform: scale(1.05);
    background: linear-gradient(white, #4A525A);
    color: black;
    text-shadow: 0px 3px 6px white;
    border-radius: 5px;
    padding: 10px;

}

.img:hover{
    background: linear-gradient(white, #4A525A);
    transform: scale(1);
    padding: 0;
}

.container-principal{
    width: 100%;
    height: 100%;
    background-color:#24272B;
    
}

.container-dos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col:hover{
    transform: scale(1.05);
    border: solid 2px;
    border-radius: 10px;
    background: linear-gradient(#ecb315,white);

}

.row{
    width: 80%;
    height: 100%;
    margin-top: 80px;
}

.col{
    margin: 80px;
    height: 100%;
}

.title{
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
}

.col-6{
    margin-bottom: 80px;
    height: 100%;
}

.col-6:hover{
    transform: scale(1.05);
    border: solid 2px;
    border-radius: 10px;
    background: linear-gradient(#ecb315,white);
}

.col-5{
    margin-bottom: 80px;
}

.col-5:hover{
    transform: scale(1.05);
    border: solid 2px;
    border-radius: 10px;
    background: linear-gradient(#ecb315,white);
}

.btn{
    color: #24272B !important;
}

.final{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#24272B, #4A525A);
}

.politicas{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.redes{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 50px;
}

@media (max-width: 480px) or (max-width:768px){

    .login{
        width:30px;
    }
    
    .menu{
        width: 80%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 0;
    }
    
    a{
        font-size: 10px;
        color: white;
        text-decoration: none;
        font-weight:bold;
        color: #ecb315 !important;
    }

    .container-principal{
        width: 100%;
        height: 100%;     
    }
    

    .row{
        width: 100% !important;
        height: 50%;
        margin-top: 80px;
        margin-left: 20px;
    }
    
    .col{
        margin-left: 20px;
        width: 100% !important;
        height: 100%;
    
    }
    
    .title{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        align-items: center;
    }
    
    .col-6{
        margin-left: 20px;
        width: 87% !important;
        margin-bottom: 80px;
    }
    
    
    .col-5{
        width: 87% !important;
        margin-bottom: 80px;
        margin-left: 20px;
    }
    
    .card-text{
        font-size: 10px;
    }


    .final{
        width: 100%;
        display: flex;
        justify-content: space-between;
     }
 
     .politicas{
         margin-left: 10px;
         width: 65%;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
 
     }
 
     .text-politicas{
         font-size: 12px;
     }
     
     .redes{
         width: 30%;
         display: flex;
         justify-content: space-around;
         gap: 2px;
         margin: 0;
     }
 
     .img-foto{
         width: 20px;
     }


}